@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&display=swap');
* {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  min-height: 100vh;
  background: url(../images/bgMainDesktop.png) no-repeat;
  background-size: 35% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 300;
}

.container {
  display: flex;
  align-items: center;
}

// CARD IMAGE
.card {
  width: 35vw;
  display: flex;
  float: left;
  flex-direction: column;
  justify-content: center;
  color: white;
  margin-right: 8vw;
}

.card__front {
  position: relative;
  width: 30vw;

  > img  {
    float: left;
    width: 100%;
    height: 100%;
  }

  .card__front__cntr {
    position: absolute;
    padding: 2vw;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > img {
      width: 22%;
      height: auto;
    }

    .card__front__text--nr {
      font-size: 2vw;
      width: 95%;
      line-height: 2vh;
    }

    .card__front__text--name {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 12px;
    }
  }
}

.card__back {  
  width: 30vw;
  align-self: flex-end;

  > img {
    margin-top: 5vh;
    width: 100%;
    height: 100%;
  };
}

// CARD FORM
.form {
  width: 25vw;
  height: 40vh;
  color: black;
  display: flex;
  font-size: 12px;
  letter-spacing: 2px;
}

.form__cntr {
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 20px;

  > label, input {
    display: block;
    width: 100%;
    height: 5vh;
    overflow: hidden;
    border-radius: 10px;
    padding-left: 10px;
    margin: 10px 0px;
    border: 1px solid hsl(270, 3%, 87%);
  }

  .form__name, .form__number, button {
    grid-column: 1 / 5;
  }

  .form__exp {
    grid-column: 1 / 3;

    .form__exp--date {
      display: flex;
      width: 100%;
      gap: 10px;
    }
  }

  .form__cvc {
    grid-column: 3 / 5;
  }
}

.form__name > input:focus,
.form__number > input:focus,
.form__exp--date > input:focus,
.form__cvc > input:focus {
  border: 1px solid hsl(249, 99%, 64%);
  outline: none;
}

.form__number > input:invalid {
  border: 1px solid hsl(0, 100%, 66%);
  outline: none;
}

.form__name > input:required,
.form__number > input:required,
.form__exp--date > input:required,
.form__cvc > input:required {
  border: 1px solid hsl(0, 100%, 66%);
  outline: none;
}

button {
  background-color: black;
  color: white;
  border-radius: 10px;
  width: 100%;
  padding: 2vh 0;
  font-size: 16px;
  letter-spacing: 2px;
}

// THANK YOU MESSAGE
.message__cntr {
  width: 35vw;
  display: flex;
  float: right;
  flex-direction: column;
  align-items: center;
  color: black;

  > img {
    width: 7vw;
  }
}

.message__text {
  text-align: center;
  margin: 30px 0;

  > h1 {
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 3px;
  }

  > p {
    font-size: 16px;
    letter-spacing: 1px;
  }
}

// MEDIA QUERIES
@media screen and (max-width: 1255px) {
  body {
    background-size: 100% 35%;
  }

  .container {
    flex-direction: column;
    margin: auto;
    position: relative;
  }

  .card {
    width: 75vw;
    height: 40vh; 
    margin: 20px auto;
    color: white;
    justify-content: flex-start;
    position: relative;
  }

  .card__front, .card__back {
    position: absolute;
  }

  .card__front {
    width: 50%;
    bottom: 0;
    z-index: 1;

    > img {
      width: 100%;
    }

    .card__front__cntr {
  
      > img {
        width: 25%;
      }
  
      .card__front__text--nr {
        font-size: 2.5vw;
      }
  
      .card__front__text--name {
          font-size: 1.5vw;
      }
    }
  }

  .card__back {  
    width: 50%;
    right: 0%;

    > img {
      width: 100%;
      margin-top: 0;
    };
  }

  .form {
    width: 90vw;
    height: 55vh; 
    align-items: center;
    justify-content: center;
  }

  .form__cntr {
    width: 80%;
  }
}

@media screen and (max-width: 1000px) {
  .card__front {
    width: 60%;

    .card__front__cntr {
      padding: 4vw;

      .card__front__text--nr {
        font-size: 3vw;
      }
  
      .card__front__text--name {
          font-size: 2vw;
      }
    }
  }

  .card__back {  
    width: 60%;
  }
}

@media screen and (max-width: 750px) {
  .message__cntr {
    margin-top: 20px;
    width: 50vw;
  
    > img {
      width: 10vw;
    }
  }
}

@media screen and (max-width: 650px) {
  .card {
    width: 90vw;
    margin: 30px auto;
  }

  .card__front__text--nr {
    font-size: 5vw;
  }

  .card__front__text--name {
      font-size: 2.5vw;
  }

  .form {
    align-items: flex-start;
  }
}

@media screen and (max-width: 525px) {
  .message__cntr {
    width: 60vw;
  
    > img {
      width: 12vw;
    }
  }
}

@media screen and (max-width: 435px) {
  .form__cntr {
    width: 90%;
  }
}

@media screen and (max-width: 525px) {
  .message__cntr {
    width: 70vw;
  
    > img {
      width: 15vw;
    }
  }
}

@media screen and (max-width: 386px) {
  .card {
    height: 33vh; 
  }

  .card__front__text--nr {
    font-size: 6vw;
  }

  .card__front__text--name {
      font-size: 3vw;
  }

  .message__cntr {
    width: 80vw;
  
    > img {
      width: 20vw;
    }
  }
}