@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&display=swap');

body {
  max-width: 1440px;
  min-height: 100vh;
  background: url(../images/bgMainDesktop.png) no-repeat;
  background-size: 35% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 300;
}

// CARD IMAGE
.card {
  width: 35vw;
  height: auto;
  display: flex;
  float: left;
  flex-direction: column;
  justify-content: center;
  color: white;
  margin-right: 8vw;
}

.card__front {

  img  {
    position: relative;
    float: left;
    width: 30vw;
    height: auto;
  }

  .card__front__cntr {
    position: absolute;
    padding: 2vw;
    width: 25vw;
    height: 23vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > img {
      width: 22%;
      height: auto;
    }

    .card__front__text--nr {
      font-size: 2vw;
      width: 95%;
      line-height: 2vh;
    }

    .card__front__text--name {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 12px;
    }
  }
}

.card__back {  
  .card__back-img {
    margin-top: 5vh;
    float: right;
    width: 30vw;
    height: auto;
  };
}

// CARD FORM
.form {
  width: 40vw;
  height: 70vh;
  color: black;
  float: right;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}